$primary-01:#22242B;

$brand-01: #00205B;
$brand-02: #005587;
$brand-03: #0085AD;

$secondary-01: #A51890;
$secondary-02: #FE5000;
$secondary-03: #00AEC7;
$secondary-04: #3E7700;

$gray-01: #F7F7F7;
$gray-02: #81838E;
$gray-03: #F7F7F7;
$gray-04: #F7F7F7;

$white: #FFFFFF;

$alert-success: #238A40;
$alert-warning: #FBAA30;
$alert-danger:#ED4B46;

// Tablette portrait
$md: 768px;

// Tablette paysage + petit écran
$lg: 1024px;

// Ecran d'ordinateur
$xl: 1280px;

// Ecran large
$xlg: 1536px;
