.nav{
padding-bottom:1.2em;
border-bottom:1px solid rgb(204, 204, 204);
margin-bottom:2em;
margin-top:1em;

.ul-secondary{
    display:flex;
    .li-secondary{
        display:flex;
        justify-content:space-around;
        width:130px;
    }
}

}




